@import "reset";
@import "config";

#app{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .mg-l{
    margin-left: $base-space;
  }
}
