@import "reset";
@import "config";

body{
  //background-color: rgba(255,204,153,.8);
  background-color: rgba(153,204,153,.4);
}
#app{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .mg-l{
    margin-left: $base-space;
  }
}
